/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 550px) {
    /* Styles */
    .calc_container
    {
        display: flex;
        justify-content: center;
        justify-items: center;

    }
    .calc_body
    {
        background-image: url('../images/example.jpeg');
        width: 220px;
        height: 150px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;

    }
    .calc_body form
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 220px;
        height: 150px;
    }
    .calc_body font input[type="text"]
    {
        font-family: inherit; /* 1 */
        font-size: inherit; /* 1 */
        line-height: inherit; /* 1 */
        margin: 0; /* 2 */
    }
}

.calc_container
{
    display: flex;
    justify-content: center;
    justify-items: center;

}
.calc_body
{
    background-image: url('../images/k2.jpg');
    width: 700px;
    height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

}
.calc_body form
{
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 500px;
    font-size: 70%;
}
.calc_body font input[type="text"]
{
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    border-radius: 5px;
}

#parallelogram {
    width: 160px;
    height: 100px;
    background: #8734f7;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}
