@media (max-width: 550px) {
    .calc_container {
        font-size: 0.6em; /* 1 */
    }
    .calc_container h5{
        font-size: 0.9em;
    }
    .parametrs{
        padding-top: 90px;
    }
    .choiceFacades{
        position: absolute;
        top:380px;
        left: 20px;
    }

}
.calc_container
{
    display: block;
    min-height: 100vh;
    min-width: 70vw;
    /*position: relative;*/

}
.calc_body
{
    background-image: url('../images/k3.jpg');
    width: 700px;
    height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.choiceFacades{
    position: absolute;
    top:480px;
    left: 20px;
    min-height: 600px;

}
input[type="number"]
{

    font-family: inherit; /* 1 */
     /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    border-radius: 5px;
    width: 50px;
}

.parallelogram {
    position: absolute;
    background: grey;
    -webkit-transform: skewY(14deg);
    -moz-transform: skewY(14deg);
    -o-transform: skewY(14deg);
    transform: skewY(14deg);
    opacity: 0.5;
}

.modules {
    position: absolute;
    background: grey;
    -webkit-transform: skewY(-26deg);
    -moz-transform: skewY(-26deg);
    -o-transform: skewY(-26deg);
    transform: skewY(-26deg);
    opacity: 0.5;
}
