
.calc_container
{
    display: block;
    min-height: 80vh;
    min-width: 70vw;
    /*position: relative;*/
    font-size: 0.6em; /* 1 */
}
.calc_body
{
    background-image: url('../images/k3.jpg');
    width: 700px;
    height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.calc_body
{
    display: block;
    width: 700px;
    height: 500px;

    /*position: absolute;
    top: 0;
    left: 0;
    font-size: 70%;*/
}
input[type="number"]
{

    font-family: inherit; /* 1 */
     /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    border-radius: 5px;
}

.parallelogram {
    position: absolute;
    background: grey;
    -webkit-transform: skewY(14deg);
    -moz-transform: skewY(14deg);
    -o-transform: skewY(14deg);
    transform: skewY(14deg);
    opacity: 0.5;
}

.modules {
    position: absolute;
    background: grey;
    -webkit-transform: skewY(-26deg);
    -moz-transform: skewY(-26deg);
    -o-transform: skewY(-26deg);
    transform: skewY(-26deg);
    opacity: 0.5;
}
